.block-center {
    text-align: center;
    margin: 10px 0;
}

.flex-box {
    display: flex;
}

.row-title {
    font-size: 16px;
    padding-left: 10px;
    border-left: 3px solid #20a0ff;
    font-weight: 700;
    margin-bottom: 10px;
}
.hide{
    display: none
}