$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #1cbc9c;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
//sidebar
$menuBg:#001529;
$subMenuBg:black;
$menuHover:black;
//顶部导航 bar背景颜色
$topBarBgColor: #464c5a;